################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TelcoProyectoApp/.vs/TelcoProyectoApp/v16/Server/sqlite3/db.lock
/TelcoProyectoApp/.vs/TelcoProyectoApp/v15/Server/sqlite3/db.lock
